<html>
<head lang="en">
    <meta charset="utf-8">
</head>
<body>
    <form action="charge" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_live_xifMiWyN5LU7f1"
            data-amount="200"
            data-name="Vicky Kumar"
            data-description="Purchase Description"
            data-image="vix.png"
            data-netbanking="true"
            data-description="Tron Legacy"
            data-prefill.name="Vicky Kumar"
            data-prefill.email="18erecs080.vicky@rietjaipur.ac.in"
            data-prefill.contact="8239957923"
            data-notes.shopping_order_id="21">
        </script>
        <input type="hidden" name="shopping_order_id" value="21">
    </form>
</body>
</html>
